.navbar {
  background-color: #4d79ff;
  flex-direction: row;
}

.navbarChild {
  display: flex;
  width: 100%;
  flex-direction: row;
  justify-content: center;
}

.navbarChild > label {
  margin-top: 3vh;
}

.dropMenu {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.dropMenu > button > span {
    display: block;
    text-transform: none;
    font-size: 1.32em;
    font-weight: bold;
}


.MenuList {
  /* opacity: 1!important; */
  z-index: 10000000!important;
  background-color:#3366ff!important; 
}

.MenuList a {
  text-decoration: none;
  color: inherit;
}

.biddindData {
  display: flex;
  flex-direction: row;
  width: 30%;
  /* justify-content: space-evenly; */
  align-items: center;
  margin-right: auto;
}

.biddindData label {
  margin-right: 2vw;
}

.logout {
  text-decoration: none;
  color: inherit;
  padding: 0px 20px 0px 20px;
}

.clickedLink {
  text-decoration: none;
  color: white!important;
  background-color: #3366ff;
}

.link {
  text-decoration: none!important;
  color: inherit!important;
  /* padding: 0px 0px 0px 20px!important; */
}

.tabs {
  margin-right: 2vw;
  width: 40%;
  display: flex;
  flex-direction: row;
  justify-content: space-around
}

.link:hover {
  background-color: #3366ff;
}

.link > .icon {
  margin: 0 0 0 10px;
}

.titleContainer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-right: 2vw;
  min-width: 250px;
}


.titleContainer > .mainTitle {
  font-size: 22px;
}
.titleContainer > .logout {
  font-size: 22px;
}

.titleContainer > .slogan {
  font-size: 16px;
  color: #d2cbcb;
}

.login {
  margin-right: auto !important;
}

.Icon {
  width: 20px;
  height: 20px;
  margin: 0px 0px -3px 5px;
}

.Info {
  margin-right: 1vw!important;
}

.typography {
  width: 20vw;
}