.empBox {
    margin: 0 auto 0 auto;
    width: 20vw;
    padding: 10px 10px 10px 10px;
    border: solid 2px;
    display: flex;
    flex-direction: column;
}

.header {
    text-align: center!important;
}

.totalPoints {
    text-align: center!important;
}